body{
	background-color: rgb(10,10,10);
	margin: 0;font-family: segoe ui;
}
.roundCorners{
border-radius: 30px;width: 10vw;margin-top: 1vw;
}

.main-text-white{
	color: white; font-family: segoe ui;font-size: 4vw;
}
footer{font-size :0.8vw;}
.side{
	background-color: rgb(20,20,20);
}
.div{display: flex;grid-template-columns: 1fr 1fr 1fr;min-height: 100%}
.yellowButton{ 
	color: yellow; background-color: transparent;border-color: yellow;border-radius: 5vw;width: 50vw;height: 3vw;font-size: 1.6vw;font-family: segoe ui;border:1px solid;
	transition: color 1s,background-color 1s ,height 1s ,width 1s ,margin-top 1s, border 1s;
}
.body-text{
	font-family: segoe ui;
}
.yellowButton2{ 
	color: black; background-color: yellow;border-radius: 5vw;width: 28vw;height: 3vw;font-size: 1.6vw;font-family: segoe ui;border:1px solid;
	}

.yellowButton:hover{
	color: black;background-color: yellow;border:none;height: 3.5vw;width: 51vw;margin-top: 0.5vw;
}
hr{
	border-color: grey;
}
nav{ background-color: black;height: 3vw;display: flex;align-items: left; }

b{text-decoration: none; color:white; font: 1.5vw segoe ui;}

.btn{ height:100%; width: 10vw; text-align: center; display: flex;justify-content: center; cursor: pointer;}

.btn:hover{
	background-color: rgb(20,20,20);
}
a{text-decoration: none;}
@media screen and (min-width: 600px){
	#mobile-nav{display: none;}
}
@media screen and (max-width: 600px){
	body{}
	nav{display: none;}
	.footer-content {grid-template-columns: 1fr 1fr;}
	
}




input{
	width: 25vw;height: 4vw;
}